<div class="container url-container">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="url"
             class="col-form-label required">
        <strong> URL: </strong>
      </label>
      <input id="url"
             type="url"
             class="form-control"
             formControlName="url"
             [required]="true">
      <button type="submit"
              [disabled]="!form.valid"
              class="btn btn-info button-send">
        Send
      </button>
    </div>
  </form>

  <div>
    <p class="text-center" *ngIf="urlShortened">
      <b>
        Your url shortened:
        <a [attr.href]="urlShortened" target="_blank">
          {{ urlShortened }}
        </a>
      </b>
    </p>
  </div>
</div>
